version: "3.9"

services:
  netguard:
    build: .
    container_name: netguard
    privileged: true
    cap_add:
      - NET_ADMIN   # requerido para iptables si usas firewall
      - NET_RAW     # requerido para DNS UDP
    networks:
      wan:
        ipv4_address: 172.28.0.2
      lan:
        ipv4_address: 192.168.1.1
    command: >
      bash -c "LAN_INTERFACE=eth1 WAN_INTERFACE=eth0 PORTAL_IP=192.168.1.1 /app/scripts/setup_gateway.sh && cd /app/src && python3 main.py"
    volumes:
      - .:/app

  client1:
    image: alpine:3.18
    container_name: netguard_client1
    networks:
      lan:
        ipv4_address: 192.168.1.50
    dns:
      - 192.168.1.1
    entrypoint: ["sh", "-c", "ip route del default; ip route add default via 192.168.1.1 dev eth0; tail -f /dev/null"]

  client2:
    image: alpine:3.18
    container_name: netguard_client2
    networks:
      lan:
        ipv4_address: 192.168.1.60
    dns:
      - 192.168.1.1
    entrypoint: ["sh", "-c", "ip route del default; ip route add default via 192.168.1.1 dev eth0; tail -f /dev/null"]

networks:
  lan:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.1.0/24
          gateway: 192.168.1.254
  wan:
    driver: bridge
    ipam:
      config:
        - subnet: 172.28.0.0/16
